@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap");

* {
    font-family: "Onest", sans-serif !important;
}

th,
tr,
thead,
td {
    border-bottom: none !important;
    border-top: none !important;
    border-right: none !important;
}

tr {
    border-left: 4px solid rgb(238, 238, 238);
}

td {
    border-bottom: 1px solid rgb(238, 238, 238) !important;
}

thead {
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #d1d1d1;
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #7770d0;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.custom-scrollbar-page::-webkit-scrollbar {
    width: 6px;
}

.custom-scrollbar-page::-webkit-scrollbar-thumb {
    background-color: #b8b8b8;
    border-radius: 10px;
}

.custom-scrollbar-page::-webkit-scrollbar-thumb:hover {
    background-color: #7770d0;
}

.custom-scrollbar-page::-webkit-scrollbar-track {
    background: #f1f1f1;
}
